.gadget_container {
    // background-color: $light-gray;
    border-radius: 5px;
    // box-shadow: 0px 0px 10px 0px rgba(133,133,133,0.84);
    padding: 25px;
    margin: 10px 0;

    .carousel {
        overflow: hidden;
        text-align: center;
    }

    .carousel-control-next {
        filter: invert(100%);
    }

    .carousel-control-prev {
        filter: invert(100%);
    }

    .image_view {
        object-fit: contain;
        height: 300px;
        width: auto;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 4px;
    }
}