$red-color : #a4001e;
$light-gray : #ccc;
$dark-gray : #333;

@import "gadget_list";
@import "gadget_detail";

a {
    color: inherit;
}

#eszkozForm {
    padding-top: 1.5rem;
}

.images_container {
    //background-color: $light-gray;
    margin:0.5rem 0;
    //border-radius: 10px;

    .preview_container {
        display: inline-block;
        position: relative;
        width: 200px;
        height: 200px;
        background-color: $dark-gray;
        border-radius: 10px;
        color: $light-gray;
        overflow: hidden;
        margin: 5px;

        input[type=file] {
            display: none;
            + label {
                position: absolute;
                z-index: 5;
                text-align: center;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transition: 0.5s ease;
                &:hover {
                    color: #fff;
                    transform:  translate(-50%, -50%) scale(1.2);
                }
            }
        }

        .preview_image {
            position: absolute;
            z-index: 10;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .preview_overlay {
            z-index: 15;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
            background-color: $dark-gray;
        }

        &:hover .preview_overlay {
            opacity: 0.8;
        }
        .icon {
            color: white;
            font-size: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
        .fa-trash:hover {
            color: #eee;
        }
    }
}   